/virtualenv
*.pyc
*.pyo
/tests/dir1/.frockup.db
/tests/dir2/.frockup.db
/tests/dir3/.frockup.db
/tests/dir3/file2.txt
/.settings
/tests/dir1/.frockup.gdbm
/tests/dir2/.frockup.gdbm
/tests/dir3/.frockup.gdbm
